### eval( )

calculate text

In [1]:
txt = '2**10'
eval(txt)

1024

#### mathematical notation
### round, abs, pow, divmod

- `round` : rounds
- `abs` : absolute
- `pow` : power
- `divmod` : quotient, remainder

**round**

In [2]:
round(1, 3)

1

**abs**

In [3]:
abs(-189)

189

**pow**

In [10]:
print(pow(2, 10))
print(pow(4, 2, 10))  # remainder

1024
6

**divmod**

In [12]:
divmod(100, 3)

(33, 1)

### sorted
- reverse : sort reverse
- key : standard to sort

In [1]:
lst = [3, 7, 10 , 8, 1]

new_lst = sorted(lst) # make new list 
print(new_lst)

[1, 3, 7, 8, 10]

In [2]:
lst.sort() # change original list 
lst

[1, 3, 7, 8, 10]

In [3]:
fruit_price = [
    (15, 8),
    (13, 5),
    (16, 6),
    (19, 7),
    (20, 10),
    (18, 2)
]

print(sorted(fruit_price))

[(13, 5), (15, 8), (16, 6), (18, 2), (19, 7), (20, 10)]

In [4]:
print(sorted(fruit_price, reverse=True))

# sorted(h_w)[::-1]   # you can use indexing

[(20, 10), (19, 7), (18, 2), (16, 6), (15, 8), (13, 5)]

use function as key

In [5]:
def take_second(elem):
    return elem[1] # second value

print(sorted(fruit_price, key=take_second))

[(18, 2), (13, 5), (16, 6), (19, 7), (15, 8), (20, 10)]

### enumerate, zip

- `enumerate` : iterate with count
- `zip` : iterate two or more iteratable data together

In [6]:
for idx, value in enumerate(lst):
    print(idx, value)

0 1
1 3
2 7
3 8
4 10

In [7]:
for idx, value in enumerate({11, 22, 33, 44, 55}):
    print(idx, value)

0 33
1 11
2 44
3 22
4 55

In [8]:
list(zip(lst, fruit_price))

[(1, (15, 8)), (3, (13, 5)), (7, (16, 6)), (8, (19, 7)), (10, (20, 10))]

### map, filter : use with iterator

- mapping : change iteratable data

In [9]:
txt = '1 2 3 4 5 6'
lst = list(map(int, txt.split()))
print(lst)

[1, 2, 3, 4, 5, 6]