## lambda 
- one line function

add function with lambda

In [2]:
add = lambda a, b : a + b
add(1, 2)

3

### exercise
make a lambda function that sort with standard

In [6]:
h_w = [
    (177, 80),
    (172, 60),
    (167, 66),
    (187, 70),
    (163, 62),
    (181, 72),
]

In [7]:
sorted(h_w, key=lambda x : x[1])

[(172, 60), (163, 62), (167, 66), (187, 70), (181, 72), (177, 80)]

## apply
- pandas dataframe, pandas series
- whole calculation

In [8]:
import numpy as np
import pandas as pd 
import math

In [10]:
df = pd.DataFrame({'today':[10, 20, 15], 'tomorrow':[13, 24, 18]}, 
                  index=['apple', 'banana', 'tomato'])
df

        today  tomorrow
apple      10        13
banana     20        24
tomato     15        18

In [13]:
df.apply(np.sqrt, axis=0)

           today  tomorrow
apple   3.162278  3.605551
banana  4.472136  4.898979
tomato  3.872983  4.242641